@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Lato, Georgia, Times, 'Times New Roman', serif;
    background-color: #000;
    /* background-color: #F4DFB6; */
}

#container{
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container .titleWrapper h1{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

#soundsArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
}

#soundsArea>div{
    border-radius: 10px;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100px;
    background: #fff;
    font-weight: bold;
    font-size: 30px;
    word-break: keep-all
}

/* *********************** media query ********************** */

@media screen and (max-width: 992px) {
    #soundsArea>div{
       height: 300px; 
    }
}

@media screen and (max-width: 768px) {
    #container .titleWrapper {
        margin-bottom: 30px;
    }
    #container .titleWrapper h1{
        font-size: 24px;
    }
}