@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Lato, Georgia, Times, 'Times New Roman', serif;
}

#container{
    height: 100vh;
    background-color: #F4DFB6;
}
#container h1{
    text-align: center;
    padding-top: 30px;
}
#soundsArea{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#soundsArea>div{
    border: 5px solid #9A4444;
    border-radius: 10px;
    padding: 10px 20px;
    color: #9A4444;
    cursor: pointer;
}
